{% extends 'adbase.html.twig' %}


{% block body %}
    <h1>Participation</h1>

    <table>
        <tbody>
            <tr>
                <th>Participationid</th>
                <td>{{ participation.participationId }}</td>
            </tr>
            <tr>
                <th>State</th>
                <td>{{ participation.state }}</td>
            </tr>
            <tr>
                <th>Justification</th>
                <td>{{ participation.justification }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('participation_index',{ 'id': participation.idevent.eventId }) }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('participation_edit', { 'id': participation.participationId }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
